<table mat-table [dataSource]= "dataSource" class="mat-elevation-z8">

  
    <!-- Codigo -->
    <ng-container matColumnDef="idProducto">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.idProducto}} </td>
    </ng-container>
  
    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Precio de venta -->
    <ng-container matColumnDef="precioVenta">
      <th mat-header-cell *matHeaderCellDef> Precio de Venta </th>
      <td mat-cell *matCellDef="let element"> {{element.precioVenta}} </td>
    </ng-container>
  
    <!-- Cantidad -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-button color="accent" (click)="agregarProducto(element)" [mat-dialog-close]="true">Agregar</button> 
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
